.app{
    display: flex;
    min-height: 100vh;
    width:100%;
}

.app.light{
    background-color: white;
    color: black;
}

.app.dark{
    background-color: #1f1f1f;
    color: white;
}

.app,
.main,
.sidebar,
.card,
.search-box,
input,
button,
img{
    transition:
        background-color .3s ease,
        color .3s ease,
        border-color .3s ease;
}